.body {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  font-family: 'regular';
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  color: $black_text;
  background: $white_text;
  &.dark {
    color: $white;
    background: #161616;
  }
  &.locked {
    overflow-y: hidden;
  }
}

.main {
  width: 100%;
}

.section {
  width: 100%;
}

.container {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;

  @media screen and (min-width: 1280px) {
    max-width: 1080px;
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    max-width: 768px;
    padding: 0px 32px;
  }
  @media screen and (max-width: 767px) {
    max-width: 375px;
    padding: 0px 20px;
  }
}
