@font-face {
  font-family: 'regular';
  src: url('../fonts/regular.woff2') format('woff2'), url('../fonts/regular.woff') format('woff'), url('../fonts/regular.ttf') format('truetype');
}
@font-face {
  font-family: 'medium';
  src: url('../fonts/medium.woff2') format('woff2'), url('../fonts/medium.woff') format('woff'), url('../fonts/medium.ttf') format('truetype');
}
@font-face {
  font-family: 'semibold';
  src: url('../fonts/semibold.woff2') format('woff2'), url('../fonts/semibold.woff') format('woff'), url('../fonts/semibold.ttf') format('truetype');
}
