/*header desctop styles*/
$header_position: fixed;
$header_paddings: 20px 0px;
$header_background_color: #eee;
$header_shadow: 0px 0px 20px rgba(0, 0, 0, 0);
$header_container_max_width: 1080px;

/*header fix styles*/

.header {
  display: block;
  width: 100%;
  left: 0px;
  top: 0px;
  position: $header_position;
  padding: $header_paddings;
  background: $header_background_color;
  box-shadow: $header_shadow;
  z-index: 10;
  .container {
    max-width: $header_container_max_width;
  }
}
