.hero * {
  margin: 0;
  padding: 0;
}

.hero {
  padding: 50px 0px;
  color: #050505;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  .container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    gap: 32px;
    margin: 0 auto;

    @media screen and (max-width: 767px) {
      max-width: 375px;
      padding: 0px 20px;
    }
    @media screen and (min-width: 768px) and (max-width: 1279px) {
      max-width: 768px;
      padding: 0px 32px;
    }
    @media screen and (min-width: 1280px) {
      max-width: 1280px;
      padding: 0px 100px;
    }
  }
}

.hero__content {
  max-width: 446px;
}

.hero-title {
  font-size: 36px;
  font-weight: 600;
  line-height: 1.2;
  text-transform: uppercase;
  .colored {
    color: #9bb537;
    font-style: italic;
    font-weight: 400;
  }
}

.hero-subtitle {
  display: inline-block;
  margin-top: 16px;
  font-size: 16px;
  max-width: 408px;

  font-weight: 400;
  line-height: 1.5;
}

.hero-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  color: #050505;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  padding: 14px 28px;
  border: 1px solid #9bb537;
  background: rgba(0, 0, 0, 0);
  border-radius: 15px;
  transition: 250ms;
  &:hover,
  &:focus {
    background: #9bb537;
    color: #f8f8f8;
  }
}
