.hero {
  padding-top: 80px;
}
.hero__content {
  max-width: 446px;
}

.hero-title {
  font-size: 36px;
  font-weight: 600;
  line-height: 1.2;
  text-transform: uppercase;
}

.hero-subtitle {
  display: inline-block;
  margin-top: 16px;
  font-size: 16px;
  max-width: 408px;
  font-weight: 400;
  line-height: 1.5;
}
