@import '~node_modules/modern-normalize/modern-normalize.css';

* {
  box-sizing: border-box;
}

img,
picture {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  object-fit: cover;
}

button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  outline: none;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

a {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

.cube {
  &:before {
    content: '';
    display: block;
    width: 100%;
    padding-top: 100%;
  }
}

img {
  display: block;
  object-fit: cover;
}
