<header class="header">
  <div class="container">
    <!--menu-->
    <div class="menu-backdrop">
      <div class="menu-body">
        <nav class="menu">
          <ul class="menu__list">
            <li>
              <a href="./" class="current">Home</a>
              <ul>
                <li><a href="./">Submenu number 1</a></li>
                <li>
                  <a href="./">Submenu number 2</a>
                  <ul>
                    <li><a href="./">Option 1</a></li>
                    <li><a href="./">Option 2</a></li>
                    <li>
                      <a href="./">Option 3</a>
                      <ul>
                        <li><a href="./">Option 1</a></li>
                        <li><a href="./">Option 2</a></li>
                        <li><a href="./">Option 3</a></li>
                        <li><a href="./">Option 4</a></li>
                      </ul>
                    </li>
                    <li><a href="./">Option 4</a></li>
                  </ul>
                </li>
                <li><a href="./">Submenu number 3</a></li>
                <li><a href="./">Submenu number 4</a></li>
              </ul>
            </li>
            <li>
              <a href="./favorites.html">Favorites</a>
              <ul>
                <li><a href="./">Submenu number 1</a></li>
                <li>
                  <a href="./">Submenu number 2</a>
                  <ul>
                    <li><a href="./">Option 1</a></li>
                    <li><a href="./">Option 2</a></li>
                    <li>
                      <a href="./">Option 3</a>
                      <ul>
                        <li><a href="./">Option 2</a></li>
                        <li><a href="./">Option 3</a></li>
                        <li><a href="./about.html">About</a></li>
                        <li><a href="./">Option 4</a></li>
                      </ul>
                    </li>
                    <li><a href="./">Option 4</a></li>
                  </ul>
                </li>
                <li><a href="./">Submenu number 3</a></li>
                <li><a href="./">Submenu number 4</a></li>
              </ul>
            </li>
          </ul>
        </nav>
        <button type="button" class="theme-switcher">Theme switcher</button>
      </div>
    </div>
    <!--logo-->
    <a href="./" class="logo">
      <svg><use href="./img/icons.svg#logo"></use></svg>
      <p><span class="color">tasty</span>treats.</p>
    </a>
    <!--buttons-->
    <div class="header__buttons">
      <button type="button" class="theme-switcher">Theme switcher</button>
      <button type="button" class="burger"><span>burger</span></button>
    </div>
  </div>
</header>
