<header class="header">
  <div class="container">
    <!--menu-->
    <div class="menu-backdrop">
      <div class="menu-body">
        <nav class="menu">
          <ul class="menu__list">
            <li><a href="./" class="current">Home</a></li>
            <li><a href="./favorites.html">Favorites</a></li>
          </ul>
        </nav>
        <button type="button" class="theme-switcher">Theme switcher</button>
      </div>
    </div>
    <!--logo-->
    <a href="./" class="logo">
      <svg><use href="./img/icons.svg#logo"></use></svg>
      <p><span class="color">tasty</span>treats.</p>
    </a>
    <!--buttons-->
    <div class="header__buttons">
      <button type="button" class="icon-btn" data-popup="order">
        <svg><use href="./img/icons.svg#basket"></use></svg>
      </button>
      <button type="button" class="theme-switcher">Theme switcher</button>
      <button type="button" class="burger"><span>burger</span></button>
    </div>
  </div>
</header>
