<header class="header">
  <div class="container">
    <!--menu-->
    <div class="menu-backdrop">
      <div class="menu-body">
        <nav class="menu">
          <ul class="menu__list">
            <li>
              <a href="./">Home</a>
              <ul>
                <li><a href="./">Face and body</a></li>
                <li>
                  <a href="./">Nails</a>
                  <ul>
                    <li><a href="./">Punkt number 1</a></li>
                    <li><a href="./">Punkt number 2</a></li>
                    <li>
                      <a href="./">Punkt number 3</a>
                      <ul>
                        <li>
                          <a href="./">Punkt 1</a>
                          <ul>
                            <li>
                              <a href="./">Punkt 1</a>
                              <ul>
                                <li><a href="./">Punkt 1</a></li>
                                <li><a href="./">Punkt 2</a></li>
                                <li><a href="./">Punkt 3</a></li>
                                <li><a href="./">Punkt 4</a></li>
                              </ul>
                            </li>
                            <li><a href="./">Punkt 2</a></li>
                            <li><a href="./">Punkt 3</a></li>
                            <li><a href="./">Punkt 4</a></li>
                          </ul>
                        </li>
                        <li><a href="./">Punkt 2</a></li>
                        <li><a href="./">Punkt 3</a></li>
                        <li><a href="./">Punkt 4</a></li>
                      </ul>
                    </li>
                    <li><a href="./">Punkt number 4</a></li>
                  </ul>
                </li>
                <li><a href="./">Аппаратная косметолгия</a></li>
                <li><a href="./">Ароматерапия</a></li>
                <li><a href="./">Day spa</a></li>
              </ul>
            </li>
            <li>
              <a href="./">Favorites</a>
              <ul>
                <li><a href="./">Face and body</a></li>
                <li>
                  <a href="./">Nails</a>
                  <ul>
                    <li><a href="./">Punkt number 1</a></li>
                    <li><a href="./">Punkt number 2</a></li>
                    <li>
                      <a href="./">Punkt number 3</a>
                      <ul>
                        <li><a href="./">Punkt 1</a></li>
                        <li><a href="./">Punkt 2</a></li>
                        <li><a href="./">Punkt 3</a></li>
                        <li><a href="./">Punkt 4</a></li>
                      </ul>
                    </li>
                    <li><a href="./">Punkt number 4</a></li>
                  </ul>
                </li>
                <li><a href="./">Аппаратная косметолгия</a></li>
                <li><a href="./">Ароматерапия</a></li>
                <li>
                  <a href="./">Day spa</a>
                  <ul>
                    <li><a href="./">Punkt number 1</a></li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <!--logo-->
    <a href="./" class="logo">
      <svg><use href="./img/icons.svg#logo"></use></svg>
      <p><span class="color">tasty</span>treats.</p>
    </a>
    <!--buttons-->
    <div class="header__buttons">
      <label><input type="checkbox" name="theme-switcher" class="theme-switcher" /></label>
      <button class="burger">BURGER</button>
    </div>
  </div>
</header>
