<!-- SECTION HERO -->
<section class="hero">
  <div class="container">
    <div class="hero__content">
      <h1 class="title title--h1">Learn to Cook <span class="colored">Tasty Treats'</span> Customizable Masterclass</h1>
      <p class="hero-subtitle">TastyTreats - Customize Your Meal with Ingredient Options and Step-by-Step Video Guides.</p>
      <div class="forBtn" style="margin: 40px 0px">
        <button type="button" data-popup="order" class="button">Order now</button>
        <button type="button" data-popup="loading" class="button big">Order now</button>
        <button type="button" data-popup="ok" class="button small">Order now</button>

        <button type="button" data-popup="error" class="button button--border">Order now</button>
        <button type="button" data-popup="info" class="button button--border big">Order now</button>
        <button type="button" data-popup="recipe" class="button button--border small">Order now</button>

        <button type="button" data-popup="order" class="button button--gray">Order now</button>
        <button type="button" data-popup="order" class="button button--gray big">Order now</button>
        <button type="button" data-popup="order" class="button button--gray small">Order now</button>

        <label><input type="checkbox" name="theme-switcher" class="theme-switcher" /></label>
      </div>

      <!-- <form action="#!" method="POST" ></form> -->
    </div>
  </div>
</section>
<!-- SECTION HERO END-->
