<!-- SECTION HERO -->
<section class="hero">
  <div class="container">
    <div class="hero__content" data-animation="fade-bottom" data-delay="0">
      <div class="titleBox">
        <h1 class="title title--h1">Learn to Cook <span class="color italic">Tasty Treats'</span> Customizable Masterclass</h1>
        <p class="subtitle">TastyTreats - Customize Your Meal with Ingredient Options and Step-by-Step Video Guides.</p>
        <div class="forBtn">
          <button type="button" data-popup="order" class="button button--border">Order Now</button>
        </div>
      </div>
    </div>
    <div class="hero__slider" data-animation="fade-bottom" data-delay="0">
      <div class="swiper swiper-hero">
        <div class="swiper-wrapper js-events"></div>
      </div>
      <div class="swiper-pagination js-hero-pagination"></div>
    </div>
  </div>
</section>
<!-- SECTION HERO END-->
