<!-- SECTION HERO -->
<section class="hero">
  <div class="container">
    <div class="hero__content">
      <div class="titleBox" data-animation="fade-bottom" data-delay="150">
        <h1 class="title title--h1">Learn to Cook <span class="color italic">Tasty Treats'</span> Customizable Masterclass</h1>
        <p class="hero-subtitle">TastyTreats - Customize Your Meal with Ingredient Options and Step-by-Step Video Guides.</p>
        <div class="forBtn" data-animation="fade-bottom" data-delay="0">
          <button type="button" data-popup="order" class="button button--border">Order Now</button>
        </div>
      </div>

      <!-- <form action="#!" method="POST" ></form> -->
    </div>
  </div>
</section>
<!-- SECTION HERO END-->
