$backdrop_background: $gray20;
$popup_background: $white;
$popup_border_radius: 15px;
$popup_padding: 40px;
$popup_padding_tablet: 32px;
$popup_padding_mobil: 20px;

$request_width: 440px;
$info_width: 340px;

.custom-popup {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: 50000;
  opacity: 0;
  visibility: hidden;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  background-color: $backdrop_background;
  padding: 40px 20px;
  transition: 400ms;
  &.is-open {
    visibility: visible;
    opacity: 1;
    .custom-popup__content {
      transform: translate(0px, 0px);
    }
  }
  .custom-popup__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 14px;
    width: 100%;
    position: relative;
    transform: translate(0px, 20px);
    transition: 400ms;
    background: $popup_background;
    border-radius: $popup_border_radius;

    @media screen and (min-width: 1280px) {
      padding: $popup_padding;
    }
    @media screen and (min-width: 768px) and (max-width: 1279px) {
      padding: $popup_padding_tablet;
    }
    @media screen and (max-width: 767px) {
      padding: $popup_padding_mobil;
    }

    .forBtn {
      margin-top: 10px;
    }
    .form {
      margin-top: 14px;
    }
  }
}

#order .custom-popup__content,
#request .custom-popup__content {
  max-width: $request_width;
}

#error .custom-popup__content {
  background-color: rgb(196, 28, 28);
  .title--popup,
  .subtitle--popup {
    color: $white;
    text-align: center;
  }
  .popup__close::before,
  .popup__close::after {
    background: $white;
  }
}

#error .custom-popup__content,
#info .custom-popup__content {
  max-width: $info_width;
  text-align: center;
  padding: 38px 32px 32px 32px;
}

#loading .custom-popup__content {
  width: 100px;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.popup__close {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border: none;
  font-size: 0px;
  cursor: pointer;
  background: none;
  position: absolute;
  right: 16px;
  top: 16px;
  transition: $cubic;
  transform: rotate(0deg);
  &:hover,
  &:focus {
    transform: rotate(90deg);
  }
  &::before,
  &::after {
    content: '';
    width: 18px;
    height: 2px;
    border-radius: 2px;
    background: #050505;
    position: absolute;
    pointer-events: none;
  }
  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
}

.loader {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border-left: 4px solid $color;
  border-top: 4px solid $color;
  border-right: 4px solid $color;
  border-bottom: 4px solid rgba(0, 0, 0, 0);
  animation: 800ms linear 0s infinite rotate;
}

@media screen and (max-width: 530px) {
  #loading .custom-popup__content {
    width: 80px;
    height: 80px;
    border-radius: 10px;
  }
  .loader {
    width: 40px;
    height: 40px;
    border-left: 2px solid $color;
    border-top: 2px solid $color;
    border-right: 2px solid $color;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
  }
}
