.theme-switcher {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 20px;
  background: #cecdcd;
  border: 1px solid #cecdcd;
  border-radius: 20px;
  position: relative;
  font-size: 0px;
  transition: $cubic;
  &::before {
    content: '';
    width: 18px;
    height: 18px;
    border-radius: 18px;
    position: absolute;
    background: #f8f8f8;
    transform: translate(-13px, 0px);
    transition: $cubic;
  }
  &::after {
    content: '';
    width: 30px;
    height: 10px;
    filter: blur(5px);
    background: #cecdcd;
    border-radius: 18px;
    transition: $cubic;
    position: absolute;
    bottom: -1px;
    z-index: -1;
    left: 40%;
  }
  &.active {
    background: $color;
    border: 1px solid $color;
    &::before {
      transform: translate(13px, 0px);
    }
    &::after {
      background: $color;
    }
  }
  @media screen and (max-width: 767px) {
    display: none;
  }
}
